{# app/Resources/views/addTier.html.twig #}
<div id="addtier" class="modal">
  <div class="modal-content">
    <form class="col" id="tierform">
      {{ include('tierForm.html.twig') }}
    </form>
  </div>
  <div class="modal-footer">
    <a href="#!" id="addtierbtn" class="modal-action modal-close waves-effect waves-red btn-flat">Add Tier</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
  </div>
</div>
