{# app/Resources/views/addTier.html.twig #}
<div id="addtier" class="modal">
  <div class="modal-content">
    <form class="col">
      <div class="row">
        <div class="input-field col s6">
          <input id="tier_name" type="text" class="validate">
          <label for="tier_name">Tier Name</label>
        </div>
        <div class="input-field col s6">
          <input id="tier_price" type="number" class="validate">
          <label for="tier_price">Price (artefact per month)</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
          <input id="tier_range" type="number" class="validate">
          <label for="tier_range">Range</label>
        </div>
        <div class="input-field col s4">
          <input id="tier_min_range" type="number" class="validate">
          <label for="tier_min_range">Min. Artefacts in Range</label>
        </div>
        <div class="input-field col s4">
          <input id="tier_max_range" type="number" class="validate">
          <label for="tier_max_range">Max. Artefacts in Range</label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#!" id="addtierbtn" class="modal-action modal-close waves-effect waves-red btn-flat">Add Tier</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
  </div>
</div>
