{# app/Resources/views/client.html.twig #}
<div class="row">
  <div class="col s8 offset-s2">
	<div class="card-panel">
	  <form>
		<h5 class="red-text">Estimate</h5>
		<div class="row white-text valign-wrapper">
		  <div class="input-field col s3">
			<input id="total" type="number">
			<label for="total">Total</label>
		  </div>
		  <div class="input-field col s3">
			<input id="duplicates" type="number">
			<label for="duplicates">Duplicates</label>
		  </div>
		  <div class="input-field col s3">
			<input id="versions" type="number">
			<label for="versions">Versions</label>
		  </div>
		  <a class="waves-effect waves-light btn red lighten-1"><i class="material-icons small right">input</i>Get</a>
		</div>
	  </form>
	</div>
  </div>
</div>
