{# app/Resources/views/estimate.html.twig #}
{% block body %}
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h1 class="header center red-text bold">
        Billing Estimation
        <span class="heading-divider"></span>
      </h1>
    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Tier Section   -->
      <div class="row">
        <div class="col s3">
          <div class="card grey">
            <div class="card-content waves-effect waves-block waves-light white-text red darken-2">
              <span class="card-title">Feature</span>
            </div>
            <div class="card-content">
              <ul class="collection">
                <li class="collection-item">Price (Artefact / Month)</li>
                <li class="collection-item">Artefact Range</li>
                <li class="collection-item"># of Artefacts in Range</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col s3">
          <div class="card grey">
            <div class="card-content waves-effect waves-block waves-light white-text red darken-2">
              <span class="card-title">Tier 1</span>
            </div>
            <div class="card-content">
              <ul class="collection">
                <li class="collection-item">$1.00</li>
                <li class="collection-item">1-1000 Artefact Units</li>
                <li class="collection-item">1000</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col s3">
          <div class="card grey">
            <div class="card-content waves-effect waves-block waves-light white-text red darken-2">
              <span class="card-title">Tier 2</span>
            </div>
            <div class="card-content">
              <ul class="collection">
                <li class="collection-item">$0.70</li>
                <li class="collection-item">1001 to 5000 Artefact Units</li>
                <li class="collection-item">4000</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col s3">
          <div class="card grey">
            <div class="card-content waves-effect waves-block waves-light white-text red darken-2">
              <span class="card-title">Tier 3</span>
            </div>
            <div class="card-content">
              <ul class="collection">
                <li class="collection-item">$0.50</li>
                <li class="collection-item">5001 to 15000 Artefact Units</li>
                <li class="collection-item">10000</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s4">
              <input type="text" id="estimated_art">
              <label for="estimated_art">Estimated Artefacts</label>
            </div>
            <div class="input-field col s4">
              <input type="text" id="duplicates">
              <label for="duplicates">Duplicate Artefacts</label>
            </div>
            <div class="input-field col s4">
              <input type="text" id="versions">
              <label for="versions">Multiple Versions</label>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>

  <footer class="page-footer red darken-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">RedEye</h5>
          <p class="grey-text text-lighten-4">RedEye Apps is the leading provider of cloud-based engineering drawing collaboration and management solutions for asset owners and their service providers globally.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="red-text text-lighten-3" href="https://github.com/Lanzafame">Lanzafame</a>
      </div>
    </div>
  </footer>

  <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
  <script src="{{ asset('assets/vendor/materialize/dist/js/materialize.min.js') }}"></script>
{% endblock %}
</html>
