{# app/Resources/views/fab.html.twig #}
<div class="fixed-action-btn col">
    <a class="waves-effect waves-light btn-floating btn-large red darken-1"><i class="material-icons">create</i></a>
  <ul>
    <li><a class="btn-floating red modal-trigger" id="addpressme" href="#addtier"><i class="material-icons">add</i></a></li>
    <li><a class="btn-floating blue modal-trigger" id="removepressme" href="#removetier"><i class="material-icons">remove</i></a></li>
  </ul>
</div>
