{# app/Resources/views/fab.html.twig #}
<div class="fixed-action-btn col">
    <a class="waves-effect waves-light btn-floating btn-large red darken-1 tooltipped" data-position="left" data-delay="50" data-tooltip="Edit Tiers"><i class="material-icons">create</i></a>
  <ul>
    <li><a class="btn-floating red modal-trigger tooltipped" data-position="left" data-delay="50" data-tooltip="Add Tier" id="addpressme" href="#addtier"><i class="material-icons">add</i></a></li>
    <li><a class="btn-floating blue modal-trigger tooltipped" data-position="left" data-delay="50" data-tooltip="Remove Tier" id="removepressme" href="#removetier"><i class="material-icons">remove</i></a></li>
  </ul>
</div>
