{# app/Resources/view/nav.html.twig #}
<nav class="red darken-2" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="http://redeye.co" class="brand-logo">
      <img class="z-depth-1 hoverable" src="assets/images/RedEye_Red.png" alt="Redeye" width="100px">
    </a>
    <ul class="right hide-on-med-and-down">
      <li><a href="http://redeye.co">Home</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="http://redeye.co">Home</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav
