{# app/Resources/views/removeTier.html.twig #}
<div id="removetier" class="modal">
  <div class="modal-content">
    <form class="col" id="removetierform">
      {{ include('removeTierForm.html.twig') }}
    </form>
  </div>
  <div class="modal-footer">
    <a href="#!" id="removetierbtn" class="modal-action modal-close waves-effect waves-red btn-flat">Remove Tier</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
  </div>
</div>
