{# app/Resources/view/results.html.twig #}
<div class="row">
  <div class="col s8 offset-s2">
	<ul class="collapsible popout" data-collapsible="accrdion">
	  <li id="results-list">
		<div class="collapsible-header" id="artefact-results-header"><i class="material-icons">assessment</i>Number of Artefacts</div>
		<div class="collapsible-body" id="artefact-results">
		  <table>
			<thead>
			  <tr>
				<th data-field="total_artefacts">Total Artefacts</th>
				<th data-field="removed_artefacts">Removed</th>
				<th data-field="folded_artefacts">Folded-in</th>

			</thead>
			<tbody id="artefact-results-table">

			</tbody>

		  </table>
		</div>
	  </li>
	  <li>
		<div class="collapsible-header"><i class="material-icons">view_column</i>Artefacts in Tiers</div>
		<div class="collapsible-body" id="tier-results">
		  <table>
			<thead>
			  <tr id="tier-results-header">

			  </tr>
			</thead>
			<tbody id="tier-results-table">
			  <tr id="artefacts-in-tiers">


			  </tr>
			  <tr id="price-per-tier-per-month">

			  </tr>
			</tbody>

		  </table>

		</div>
	  </li>
	  <li>
		<div class="collapsible-header"><i class="material-icons">receipt</i>Billing Estimate</div>
		<div class="collapsible-body" id="cost-results">
		  <table>
			<thead>
			  <tr>
				<th data-field="price_per_month">Price per Month</th>
				<th data-field="avg_price_per_drawing_per_month">Avg Price per Drawing per Month</th>
				<th data-field="price_per_annum">Price per Annum</th>

			</thead>
			<tbody id="cost-results-table">
			  <tr>

			  </tr>
			</tbody>

		  </table>

		</div>
	  </li>
	</ul>
  </div>
</div>
