{# app/Resources/views/table.html.twig #}
<div class="row">
  <div class="col s8 offset-4">
    <table>
      <thead>
        <tr>
          <th data-field="feature"></th>
          <th data-field="tier1">Tier 1</th>
          <th data-field="tier2">Tier 2</th>
          <th data-field="tier3">Tier 3</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><strong>Price (artefact per month)</strong></td>
        </tr>
        <tr>
          <td><strong>Range</strong></td>
        </tr>
        <tr>
          <td><strong>Num of Artefacts in Range</strong></td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
