{# app/Resources/views/table.html.twig #}
<div class="row">
  <div class="col s11">
    <table>
      <thead>
        <tr>
		  <th data-field="ID">ID</th>
          <th data-field="Tiers">Tiers</th>
          <th data-field="Price">Price (artefact per month)</th>
          <th data-field="Range">Range</th>
          <th data-field="NumArtefacts">Num of Artefacts in Range</th>
        </tr>
      </thead>

      <tbody id="tiertable">

      </tbody>
    </table>
  </div>
  {{ include('fab.html.twig') }}
</div>
