{# app/Resources/views/tierForm.html.twig #}
<div class="row">
  <div class="input-field col s6">
    <input id="tier_name" name="tier_name" type="text">
    <label for="tier_name">Tier Name</label>
  </div>
  <div class="input-field col s6">
    <input id="tier_price" name="tier_price" type="number" min="0" step="any">
    <label for="tier_price">Price (artefact per month)</label>
  </div>
</div>
<div class="row">
  <div class="input-field col s4">
    <input id="tier_range" name="tier_range" type="number">
    <label for="tier_range">Range</label>
  </div>
  <div class="input-field col s4">
    <input id="tier_min_range" name="tier_min_range" type="number">
    <label for="tier_min_range">Min. Artefacts in Range</label>
  </div>
  <div class="input-field col s4">
    <input id="tier_max_range" name="tier_max_range" type="number">
    <label for="tier_max_range">Max. Artefacts in Range</label>
  </div>
</div>
