{# app/Resources/views/title.html.twig #}
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <h1 class="header center red-text text-darken-1 bold">
      {{ billing }}
      <span class="heading-divider"></span>
    </h1>
  </div>
</div>
